
<ion-view view-title="Chats">
  <ion-content>
   <!-- <div class= "list card" ng-repeat="Mensaje in MisMensajes">
        <strong>
            {{Mensaje.name}}
        </strong>-->
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in MisMensajes" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <!--<img ng-src="{{chat.face}}">-->
        <h2>{{chat.usuario}}</h2>
        <p>{{chat.mensaje}}</p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <div id='messagesDiv'>   </div>
     <input type='text' id='messageInput' placeholder='Message...'>
 
    </ion-list>-
  </ion-content>
</ion-view>
